stages:
  - install_dependencies
  - test

image: node:16-slim

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - frontend/node_modules/
    - backend/node_modules/

install_dependencies_frontend:
  stage: install_dependencies
  script:
    - cd frontend
    - npm ci
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
  rules:
    - if: "$CI_COMMIT_BRANCH"

install_dependencies_backend:
  stage: install_dependencies
  script:
    - cd backend
    - npm ci
  cache:
    key: ${CI_COMMIT_REF_SLUG}-backend
  rules:
    - if: "$CI_COMMIT_BRANCH"

test_frontend:
  stage: test
  script:
    - cd frontend
    - npm ci --prefer-offline
    - npm test
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend-test
  rules:
    - if: "$CI_COMMIT_BRANCH"

test_backend:
  stage: test
  script:
    - cd backend
    - npm ci --prefer-offline
    - npm test
  cache:
    key: ${CI_COMMIT_REF_SLUG}-backend-test
  rules:
    - if: "$CI_COMMIT_BRANCH"
