/* styles/Table.module.css */

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.tableFullWidth {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.tableCell,
.tableHeader {
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: background-color 0.3s ease;
}

.tableCell:last-child,
.tableHeader:last-child {
  border-right: none;
}

.tableCellInfo,
.tableHeaderInfo {
  padding: 10px;
  color: lightskyblue;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: background-color 0.3s ease;
}

.tableCellSuccess,
.tableHeaderSuccess {
  padding: 10px;
  color: seagreen;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: background-color 0.3s ease;
}

.tableCellWarning,
.tableHeaderWarning {
  padding: 10px;
  color: orange;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: background-color 0.3s ease;
}

.tableCellDanger,
.tableHeaderDanger {
  padding: 10px;
  color: red;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: background-color 0.3s ease;
}

.strongRowLine {
  border-bottom: 2px solid black;
}

.tableHeader:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}
