.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.signup-page > .logo-img {
    width: 15%;
    height: auto;
    border-radius: 50%; /* Rounded border helps hide the slighly off-white background */
}

.signup-page > .header-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    white-space: nowrap;
    margin-bottom: 3%;
}

.signup-page > .header-section > .h-line {
    height: 3px;
    width: 100%;
    background-color: var(--logo-dark-blue);
}

.signup-page > .header-section > .header-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: clamp(1rem, 2.5vw, 2.5rem);
    margin-left: 20px;
    margin-right: 20px;
    color: var(--logo-dark-blue);
}