/* BaseBtn.css */
.button {
    padding: 8px 50px;
    font-size: clamp(0.7rem, 1.3vw, 1.5rem);
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1);
}
  
.primary-btn {
    color: var(--primary-navy);
    background: white;
    border: 2px solid var(--primary-navy);
}
  
.primary-btn:hover {
    color: white;
    background: var(--primary-navy);
}
  
.secondary-btn {
    color: var(--primary-slate);
    background: white;
    border: 2px solid var(--primary-slate);
}
  
.secondary-btn:hover {
    color: white;
    background: var(--primary-slate);
}
  