/*
CSS variables for useful values 
that we use throughout the app
*/
:root {
  --primary-navy: #161b33;
  --primary-teal: #007880;
  --primary-slate: #5f6a7d;
  --secondary-green: #08cc43;
  --secondary-cyan: #50b2c0;
  --secondary-cream: #fffdd0;
  --additional-charcoal: #303841;
  --additional-soft-white: #f1f1f1;
  --additional-gold: #ffd700;
  --negative-red: #e53e3e;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f4f7f6;  <- imo This needs to be defined at a lower level */
}
