/*
CSS variables for useful values 
that we use throughout the app
*/
:root {
  --logo-dark-blue: #0d3440;
  --gray: #8d8d8d;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f4f7f6;  <- imo This needs to be defined at a lower level */
}
