.nav-button {
    margin: 8px;
    background-color: lightskyblue;
    font-weight: bold;
    font-style: oblique;
    font-size: small;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover, .nav-button:focus {
    background-color: white;
    color: lightskyblue;
}

.navbar-toggle {
    margin: 8px;
    background-color: white;
    color: seagreen;
}

.navbar-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: slategray;
    height: 64px;
}


@media (max-width: 768px) {
    .navbar-collapse {
        width: 20vw; 
        margin-left: auto;
        background-color: slategrey;
    }
}

@media (max-width: 576px) {
    .navbar-text-header {
        display: none; 
    }
}


.ddl-logo {
    height: 48px;
    width: 48px;
    border-radius: 16px;
}

.navbar-text-header {
    font-weight: bold;
    font-style: oblique;
    font-size: x-large;
    color: white;
}
